click==8.1.3
Flask==2.2.5
Flask-SQLAlchemy==2.5.1
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.1
numpy==1.26.4
reverse-geocoder==1.5.1
scipy==1.12.0
six==1.16.0
SQLAlchemy==1.3.0
SQLAlchemy-Utils==0.38.2
Werkzeug==2.3.8
geopip==1.1
flask_monitoringdashboard==3.1.1
gitpython==3.1.41
flask_compress==1.13
emoji-country-flag == 1.3.2
polyline == 2.0.0
Flask-Autoversion==0.2.0
GitPython==3.1.41
requests==2.31.0
PyYAML==5.4
shapely==2.0.2
pyproj==3.3.0
geopandas==0.14.4
Google-Images-Search==1.4.6
timezonefinder==6.4.1
zxing-cpp==2.2.0
opencv-python==4.9.0.80
ruff==0.9.7
pre-commit==3.6.2
distinctipy==1.3.4
Flask-Caching==2.1.0
httpx==0.27.0
scgraph==2.2.0
pillow==10.4.0
CairoSVG==2.7.1
pycountry==24.6.1
geojson==3.1.0
gunicorn==23.0.0
flexpolyline==0.1.0
duckdb==1.1.3
overpy==0.7
osm2geojson==0.2.5
geopy==2.4.0
gpxpy==1.5.0
psycopg2-binary==2.9.10
stripe==12.4.0