{% extends "bootstrap/layout.html" %}

{% block content %}
{% include "bootstrap/navigation.html" %}

<div class="container">
    <h2>Upload Image</h2>
    <form action="{{url_for('upload_image', username=username)}}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="imageFile" class="form-label">Select image to upload:</label>
            <input type="file" class="form-control" id="imageFile" name="image" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

{% endblock %}
