<nav>

  <input type="checkbox" id="menuToggle" class="mobileOnly">
  <label for="menuToggle" class="mobileOnly"><span>&times;</span><span>&#9776;</label>

<ul class="navigation">
    <li>
      <img class="navLogo" src="{{ url_for('static',filename='images/logo_square.png') }}">
    </li>
    {% if is_owner%}
    <li>
      <a href="{{ url_for('admin')}}">Admin</a>
    </li>
    {%endif%}
    <li>
      <a href="{{ url_for('user_home', username=username) }}">{{username.title()}}</a>
    </li>
    <li>
      <a href="{{ url_for('new_train', username=username) }}">{{new}}</a>
    </li>
    <li>
      <a href="{{ url_for('user_trips', username=username) }}">{{trips}}</a>
    </li>
    <li>
      <a href="{{ url_for('user_projects', username=username) }}">{{Projects}}</a>
    </li>
    <li>
      <a href="{{ url_for('stats', username=username) }}">{{stats}}</a>
    </li>
    <li  class="current">
      <a href="{{ url_for('current', username=username) }}">{{current}}</a>
    </li>
    <span class="rightli">
      <li>
        <a href="{{ url_for('user_settings', username=username) }}">{{user_settings}}</a>
      </li>
      <li>
        <a href="{{ url_for('logout', username=username) }}">{{logout}}</a>
      </li>
    </span>
  </ul>
</nav>
  <script>
    $(function(){
      var current = location.pathname;
      $('.navigation li a').each(function(){
          var $this = $(this);
            if($this.attr('href') == current){
              $this.addClass('active');
              }
          })
    })

    $.get('{{url_for("isCurrentTrip", username=username)}}', function(trips, status){
      if(trips=="1"){
        $('ul.navigation .current').attr('style', 'display:block !important')
      }
    });
  </script>
  
