{% extends "bootstrap/layout.html" %}
{% block content %}

{% include "bootstrap/navigation.html" %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="mb-3 text-center">{{ new_tag }}</h2>
      <form id="newTagForm" action="{{ url_for('submit_tag', username=username) }}" method="post" autocomplete="off">
        
        <div class="form-group mb-3">
          <label for="name">{{ tag_name }} :</label>
          <input type="text" class="form-control" id="name" name="name" required placeholder="{{ enter_tag_name }}">
        </div>
        
        <div class="form-group mb-3">
          <label for="colour">{{ tag_colour }} : </label>
          <div>
            <input id="colour" name="colour" type="text" class="form-control input-lg" value="{{ suggested_colour }}">
          </div>
        </div> 
        
      <div class="form-group mb-3">
        <label for="type">{{ tag_type }} : </label>
        <div>
            <select id="type" name="type" type="text" class="form-control input-lg">
                <option value="collection">{{collection}}</option>
                <option value="voyage">{{voyage}}</option>
            </select>
        </div>
      </div>


        <button type="submit" class="btn btn-primary w-100">{{ submit }}</button>
      </form>
    </div>
  </div>
</div>

<script>

  $(function () {
    var colorPicker = $('#colour');

    colorPicker.colorpicker({
      format: 'hex'
    });

    function updateTextColor(colour) {
      if (!colour.isDark()) {
        $('#colour').css('color', 'black');
      } else {
        $('#colour').css('color', 'white');
      }
    }

    colorPicker.on('colorpickerChange colorpickerCreate', function (event) {
      var color = event.color;
      $('#colour').css('background-color', color.toString());
      updateTextColor(color);
    });

    // Initialize color and text preview on page load
    var initialColor = colorPicker.colorpicker('getValue', '#ffffff');
    $('#colour').css('background-color', initialColor);
    updateTextColor(colorPicker.colorpicker('color'));
  });
</script>

{% endblock %}
