{% extends "bootstrap/layout.html" %}
{% block content %}

{% include "bootstrap/navigation.html"%}

<div id="form" >
  <h2 class="header">{{newTripTrain}}</h2>
  <div>
    <form id="newTripForm" autocomplete="off" action="javascript:void(0);" method="GET">
      <label for="originManualToggle" class="checkboxLabel">{{manOrigin}}</label>
      <input type="checkbox" id="originManualToggle" name="originManualToggle"/>
      <group id="originStationAuto">
        <input type="text" class="stationSearch" id="originStation" name="originStation" placeholder="{{originStation}}"/>
      </group>
      <group id="originStationManual" >
        <input type="text" class="" name="originManualName" id="originManualName" placeholder="{{originStationName}}"/> 
        <input type="float" class="" name="originManualLat" id="originManualLat" placeholder="Lat"/> 
        <input type="float" class="" name="originManualLng" id="originManualLng" placeholder="Lng"/>
      </group>

      <label for="destinationManualToggle" class="checkboxLabel">{{manDestination}}</label>
      <input type="checkbox" id="destinationManualToggle" name="destinationManualToggle"/>
      <group id="destinationStationAuto">
        <input type="text" class="stationSearch" id="destinationStation" name="destinationStation" placeholder="{{destinationStation}}"/>
      </group>
      <group id="destinationStationManual" >
        <input type="text" class="" name="destinationManualName" id="destinationManualName" placeholder="{{destinationStationName}}"/> 
        <input type="float" class="" name="destinationManualLat" id="destinationManualLat" placeholder="Lat"/> 
        <input type="float" class="" name="destinationManualLng" id="destinationManualLng" placeholder="Lng"/>
      </group>
      <br>
      <group id="operatorGroup">
        <div class="operatorLogoWrapper">
          <img class="operatorLogo" src="{{ url_for('static',filename='images/icons/trip_logos/train.png')}}"/>
        </div>
        <input type="text" name="operator" id="operator" placeholder="{{operator}}"/>
      </group>
      <input type="text" name="lineName" id="lineName" placeholder="{{lineName}}"/>
      <br>

      <label for="detailsToggle" class="checkboxLabel">{{details}}</label>
      <input type="checkbox" id="detailsToggle" name="detailsToggle"/>

      <div id="detailsGroup">
        <input type="text" name="material_type" id="material_type" placeholder="{{material_type}}"/>
        <input type="text" name="reg" id="reg" placeholder="{{reg}}"/>
        <input type="text" name="seat" id="seat" placeholder="{{seat}}"/>
        <input type="text" name="notes" id="notes" placeholder="{{notes}}"/>
      </div>

      <br><br>


      <label>{{timings}} :</label>
        <input type="radio" id="radioPreciseDates" value="preciseDates" name="precision" checked/>
        <label for="radioPreciseDates" class="checkboxLabel" >{{preciseDates}}</label>
        <input type="radio" id="radioUnknown" value="unknown" name="precision"/>
        <label for="radioUnknown" class="checkboxLabel">{{unknown}}</label>
        <input type="radio" id="radioOnlyDate" value="onlyDate" name="precision"/>
        <label for="radioOnlyDate" class="checkboxLabel">{{onlyDate}}</label>


      <br><br>

      <group id="onlyDatePicker">
        <label for="newTripStart">{{newTripStart}}</label>
        <input type="date" name="onlyDate" id="onlyDate"/>
      </group>

      <group id="unknownDates">
        <input type="radio" value="past" name="unknownType"/> 
        <label for="past" class="checkboxLabel">{{past}}</label> 
        <input type="radio" value="future" name="unknownType"/>  
        <label for="future" class="checkboxLabel">{{future}}</label>
      </group>
      
      <group id="manDuration">
        <label for="manDurationHours">{{tripDuration}}</label>
        <input type="number" min=0 max=200 step="1" id="manDurationHours" name="manDurationHours" placeholder="{{hours}}"/> 
        <input type="number" min=0 max=59 step="1" id="manDurationMinutes" name="manDurationMinutes" max=60 min=0 placeholder="{{minutes}}"/> 
      </group>
      
      
      <group id="dates">
        <label for="newTripStart">{{newTripStart}}</label>
        <input type="date" name="newTripStartDate" id="newTripStartDate" placeholder=" "/>
        <input type="time" name="newTripStartTime" id="newTripStartTime" placeholder=" "/>
        <label for="newTripEnd">{{newTripEnd}}</label>
        <input type="date" name="newTripEndDate" id="newTripEndDate" placeholder=" "/>
        <input type="time" name="newTripEndTime" id="newTripEndTime" placeholder=" "/>
      </group>
      <button id=submit type="submit" onclick="toRouting($('form').serializeArray(), routingURL, 'train');">{{submit}}</button>
    </form>
  </div>
</div>

<script>
  
  var globalStationDict = {};
  var manualStationsList = [];
  var routingURL = "{{url_for('routing', username=username)}}";

  $.get('{{url_for("getManAndOps", username=username, station_type="train")}}', function(manAndOps, status){
    Object.assign(globalStationDict, manAndOps.manualStations);
  
    Object.keys(manAndOps.manualStations).forEach(function (station){
      manualStationsList.push({"label":station, "value":station, "manual":true})
    })

    operatorAutocomplete( $("#operator"), manAndOps, "{{ url_for('static',filename='images/operator_logos/')}}",  "{{ url_for('static',filename='images/icons/trip_logos/train.png')}}");

  });

  
  $("#newTripStartDate").val(getCurrentDate());
  $("#onlyDate").val(getCurrentDate());
  $("#newTripStartTime").val(getCurrentTime());

  $("#newTripStartDate").on("focusout", function() {
    if($("#newTripEndDate").val() < $(this).val())
    {
      $("#newTripEndDate").val($(this).val());
    }
    $("#newTripEndDate").attr({"min":$(this).val()});
  });

  $("#newTripStartTime").on("focusout", function() {
    if($("#newTripEndDate").val() == $("#newTripEndDate").val()){
      $("#newTripEndTime").attr({"min":$(this).val()});
      if ($("#newTripEndTime").val() < $(this).val()){
        $("#newTripEndTime").val($(this).val());
      }
      $("#newTripEndTime").attr({"min":$(this).val()});
    }
  });


  $(".stationSearch").autocomplete({
    source: function (request, response) {
      $.ajax({
          url:"/trainStationAutocomplete?q="+request.term,
          dataType: "json",
          success: function (data) {
            var trainStationList = [];
            data.forEach(
                function(item){
                    flag = getFlagEmoji(item.country_code);
                    label = `${flag} ${item.processed_name}`;
                    trainStationList.push({"label":label, "value":label});
                    globalStationDict[label] = [[item.latitude, item.longitude], label];
                }
            )
            response(trainStationList);
          },
      });
    },
});

</script>

{% endblock %}