{% extends "bootstrap/layout.html" %}
{% block content %}

<div id="form">
    <h2>{{resetPassword}}</h2>
	<br>
    <div>
        <form id="password_reset_request" action="{{ url_for('password_reset_request') }}" method="post">
            {{emailLabel}} <input type="text" id="email" name="email" placeholder="{{emailPlaceholder}}" />
            <button type="submit" class="btn btn-primary" id="request_reset">{{submit}}</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}
