{% extends "bootstrap/layout.html" %}
{% block content %}

<script>
    function checkPasswords() {
        var password = document.getElementById("new_password");
        var confirm_password = document.getElementById("confirm_password");
        
        if (password.value !== confirm_password.value) {
            alert('{{passwordMismatch}}');
            return false;
        }
        return true;
    }
</script>

<div id="form">
    <h2>{{enterNewPassword}}</h2>
    <br>
    <div>
        <form id="password_reset" action="{{ url_for('password_reset', token=token) }}" method="post" onsubmit="return checkPasswords()">
            <input type="password" id="new_password" name="password" placeholder="{{enterNewPassword}}" /><br>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="{{confirmNewPassword}}" /><br>
            <button type="submit" class="btn btn-primary" id="request_reset">{{submit}}</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}
